body{
    background-color: gainsboro;
}
header{
    text-align: center;
}
strong{
    color: dimgray;
    font-size: x-large;
    font-family: system-ui;
}
nav{
    text-decoration: none;
}
li{
    display: inline;
    padding: 10px;
    font-family: system-ui;
    color: darkgray;
}
h1{
    color: dimgray;
    font-family: system-ui;
}
h1 a:link{
    text-decoration: none;
    color: dimgray;
    font-family: system-ui;
}
h1 a:visited{ 
    color:dimgray;
 }
h2{
    color: dimgray;
    font-family: system-ui;
}
p{
    color: dimgray;
    font-family: system-ui;
}
footer{
    background-color: dimgray;
    color: white;
}
nav a:link{ 
    color:dimgray;
    text-decoration: none;
}
nav a:visited{ 
   color:dimgray;
}
nav a:hover{
   color: darkslategray;
   background-color:lightgrey;
   border-radius: 10px;
   padding: 5px;
}
table{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: system-ui;
    width: 80%;
    padding-bottom: 2%;
    padding-top: 5%;
}
table a:link{
    color:black;
    text-decoration: none;
}
table a:visited{ 
    color:black;
 }
td{
    font-size: medium;
}
caption{
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    color: dimgray;
}
.current{
    text-decoration: underline;
}
.text{
    text-align: center;
}
.tcaption{
    margin-left: 3%;
}
