body{
    background-color: gainsboro;
}
header{
    text-align: center;
}
strong{
    color: dimgray;
    font-size: x-large;
    font-family: system-ui;
}
nav{
    text-decoration: none;
}
li{
    display: inline;
    padding: 10px;
    font-family: system-ui;
    color: darkgray;
}
h1{
    color: dimgray;
    font-family: system-ui;
}
h1 a:link{
    text-decoration: none;
    color: dimgray;
    font-family: system-ui;
}
h1 a:visited{ 
    color:dimgray;
}
h2{
    color: dimgray;
    font-family: system-ui;
}
p{
    color: dimgray;
    font-family: system-ui;
}
footer{
    background-color: darkgray;
    color: white;
    width: auto;
}
nav a:link{ 
    color:dimgray;
    text-decoration: none;
}
nav a:visited{ 
   color:dimgray;
}
nav a:hover{
   text-decoration: underline;
}
table{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: system-ui;
    width: 80%;
    padding-bottom: 2%;
    padding-top: 5%;
}
table a:link{
    color: dimgray;
    text-decoration: none;
}
table a:visited{ 
    color:dimgray;
}
table a:hover{
    color:	#585858;
    text-decoration: underline;
}
td{
    font-size: medium;
    text-align: center;
}
caption{
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    color: dimgray;
}
.current{
    font-weight: bold;
}
.text{
    text-align: center;
}
.tcaption{
    margin-left: 3%;
}
button{
    color: dimgray;
    text-decoration: none;
    font-family: system-ui;
    border-radius: 10px;
    padding: 5px;
    float: right;
    margin-right: 15%;
    font-size: 14px;
}
main h2{
    color: dimgray;
    text-align: center;
    font-size: x-large;
    display: block;
}
#form{
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -10%);
}
.thankyou{
    font-size: xx-large;
    padding-top: 8%;
    text-align: center;
}
.thankyou a:link{
    color: dimgray;
    font-size: large;
}
.thankyou a{
    color: dimgray;
    text-decoration: none;
}
.thankyou a:hover{
    color: dimgray;
    text-decoration: underline;
}
#submit{
    color: dimgray;
    text-decoration: none;
    font-family: system-ui;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}
article{
    font-family: system-ui;
    color: dimgray;
    font-size: large;
    position: absolute;
    top: 30%;
    left: 50%;
    padding-top: 2%;
    text-align: center;
    transform: translate(-50%, -10%);
}
