strong{
    color: dimgray;
    font-size: x-large;
    font-family: system-ui;
}
h1{
    color: dimgray;
    font-family: system-ui;
    text-align: center;
}
h2{
    color: dimgray;
    font-family: system-ui;
}
p{
    color: dimgray;
    font-family: system-ui;
}
